/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h2 {
    color: #333;
}

.search-section, .list-section {
    margin-bottom: 20px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-label, .search-input, select, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result-section, .list-contents-section {
    background: #e9ecef;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
}

.result-section > div, .list-contents-section > div {
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
}

/* Additional Styling for Specific Elements */
#publisherInfo {
    list-style-type: none;
}

#publisherInfo li {
    background: #f8f9fa;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 3px;
}

/* Style for the search form with inline fields */
.search-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Aligns items vertically */
    gap: 10px; /* Spacing between items */
  }
  
  /* Style for form inputs to fit inline */
  .search-input{
    flex-grow: 1; /* Allows each field to grow and use available space */
    margin: 0; /* Resets any default margin */
  }
  
  /* Style for the search button to fit inline */
  .searchButton {
    white-space: nowrap; /* Prevents wrapping of button text */
    padding: 10px 20px;
  }
  
  @media (max-width: 768px) { /* Adjusts styles for smaller screens */
    .search-form {
      flex-direction: column;
    }
    .input-field, .button-search {
      width: 100%; /* Full width on small screens */
    }
  }
  